node_modules/
/vendor/
/.idea/
/.vscode/
.env
.env.local
.env.*.local
/storage/logs/*
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/views/*
/bootstrap/cache/
.DS_Store
*.log
.phpunit.result.cache
public/storage
storage/debugbar/
